<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/3b/ec/53/3bec532fff0c0bcd7f8becf11dd27962.png);">
  <div class="container">
    <h1>Create new list!</h1>
    <%= simple_form_for @list do |f| %>
    <div class="bookmark-form">
      <%= f.input :name %>
      <%= f.submit 'submit', class: 'btn btn-primary' %>
    </div>
      <div><%= link_to "Home", lists_path, class: "btn btn-primary mt-5" %></div>
    <% end %>
  </div>
</div>
